streamlit
pandas
numpy
scikit-learn
joblib
plotly
reportlab
requests
langchain
langchain-text-splitters
langchain-community
chromadb
sentence-transformers
pypdf
pysqlite3-binary; sys_platform == "linux"
